{% extends "EmployeeBase.html" %}

{% block title %}
Employee - Apiarist Management
{% endblock %}

{% block header %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Apiarist Management / </li>
      </ol>
    </nav>
    <form class="row">
        <div class=" search_box">
          <p>
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Search for apiarist by first name or Last Name">
              <button type="button" class="btn btn-primary" onclick="search()">Search</button>
          </p>
          <p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                + Add Apiarist
              </button>
          </p>
        </div>
    </form>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="width:50vw;margin-left: -8vw;">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Apiarist</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" >
             <form action="/Employee" method="post" id="employee">
              <div style="display:flex;">
                  <div class="mb-3 text-2">
                      <label for="userName" class="form-label">User Name<span class="bx">*</span>:</label>
                      <input type="text" class="form-control" id="userName" name="userName" placeholder="">
                  </div>
                  <div class="mb-3 text-2">
                      <label for="password" class="form-label">PassWord<span class="bx">*</span>:</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="">
                  </div>
              </div>
              <div style="display:flex;">
                <div class="mb-3 text-2">
                  <label for="firstName" class="form-label">First Name:</label>
                  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="">
                </div>
                <div class="mb-3 text-2">
                  <label for="lastName" class="form-label">Last Name:</label>
                  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="">
                </div>
              </div>

              <div style="display:flex;">
                <div class="mb-3 text-2">
                  <label for="addRess" class="form-label">AddRess:</label>
                  <input type="text" class="form-control" id="addRess" name="addRess" placeholder="">
                </div>
                <div class="mb-3 text-2">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="">
                </div>
              </div>

              <div style="display:flex;">
                <div class="mb-3 text-2">
                  <label for="phone" class="form-label">Phone:</label>
                  <input type="phone" class="form-control" id="phone" name="phone" placeholder="">
                </div>
                <div class="mb-3 text-2">
                  <label for="state" class="form-label">state:</label>
                  <select class="form-control"  id="state" name="state">
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                  </select>
                </div>
              </div>
             </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="save()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}


<!-- code to display list of jobs-->
 <div class="display_scroll">
     {% if apiarist_list %}
        <table class="table">
            <thead>
                <tr>
                    <th class="apiarist_td">Apiarist ID</th>
                    <th class="apiarist_td">First Name</th>
                    <th class="apiarist_td">Last Name</th>
                    <th class="apiarist_td">Address</th>
                    <th class="apiarist_td">Email</th>
                    <th class="apiarist_td">Phone</th>
                    <th class="apiarist_td">State</th>
                    <th class="apiarist_td">Date</th>
                    <th class="apiarist_td">UserName</th>
                    <th class="apiarist_td">PassWord</th>
                    <th class="apiarist_td">Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for apiarist in apiarist_list %}
                    <tr>
                        <td class="apiarist_td">{{apiarist.aid}}</td>
                        <td class="apiarist_td">{{apiarist.firstName}}</td>
                        <td class="apiarist_td">{{apiarist.lastName}}</td>
                        <td class="apiarist_td">{{apiarist.addRess}}</td>
                        <td class="apiarist_td">{{apiarist.email}}</td>
                        <td class="apiarist_td">{{apiarist.phone}}</td>
                        <td class="apiarist_td">{{apiarist.state}}</td>
                        <td class="apiarist_td">{{apiarist.date}}</td>
                        <td class="apiarist_td">{{apiarist.userName}}</td>
                        <td class="apiarist_td">{{apiarist.password}}</td>
                        <td class="apiarist_td">
                            <a href="#" onclick="openEdit('{{apiarist.aid}}','{{apiarist.firstName}}','{{apiarist.lastName}}','{{apiarist.addRess}}','{{apiarist.email}}','{{apiarist.phone}}','{{apiarist.state}}','{{apiarist.userName}}','{{apiarist.password}}')">Edit</a>
                            <a href="#" onclick="deleteDate('{{apiarist.aid}}')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
     {% else %}
        <h4 class="bx" style="text-align:center;">No data currently available.</h4>
     {% endif %}
 </div>

<!--Edit-->
<div class="modal fade" id="updateModel" tabindex="-1" aria-labelledby="updateModelLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="width:50vw;margin-left: -8vw;">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updateModelLabel">Edit Apiarist</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" >
              <input type="hidden" id="ed_aid"/>
              <div style="display:flex;">
                  <div class="mb-3 text-2">
                      <label for="ed_userName" class="form-label">User Name<span class="bx">*</span>:</label>
                      <input type="text" class="form-control" id="ed_userName" name="ed_userName" placeholder="">
                  </div>
                  <div class="mb-3 text-2">
                      <label for="ed_password" class="form-label">PassWord<span class="bx">*</span>:</label>
                      <input type="password" class="form-control" id="ed_password" name="ed_password" placeholder="">
                  </div>
              </div>
              <div style="display:flex;">
                <div class="mb-3 text-2">
                  <label for="ed_firstName" class="form-label">First Name:</label>
                  <input type="text" class="form-control" id="ed_firstName" name="ed_firstName" placeholder="">
                </div>
                <div class="mb-3 text-2">
                  <label for="ed_lastName" class="form-label">Last Name:</label>
                  <input type="text" class="form-control" id="ed_lastName" name="ed_lastName" placeholder="">
                </div>
              </div>

              <div style="display:flex;">
                <div class="mb-3 text-2">
                  <label for="ed_addRess" class="form-label">AddRess:</label>
                  <input type="text" class="form-control" id="ed_addRess" name="ed_addRess" placeholder="">
                </div>
                <div class="mb-3 text-2">
                  <label for="ed_email" class="form-label">Email:</label>
                  <input type="email" class="form-control" id="ed_email" name="ed_email" placeholder="">
                </div>
              </div>

              <div style="display:flex;">
                <div class="mb-3 text-2">
                  <label for="ed_phone" class="form-label">Phone:</label>
                  <input type="phone" class="form-control" id="ed_phone" name="ed_phone" placeholder="">
                </div>
                <div class="mb-3 text-2">
                  <label for="ed_state" class="form-label">state:</label>
                  <select class="form-control" id="ed_state" name="ed_state">
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                  </select>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="editSave()">Edit changes</button>
          </div>
        </div>
      </div>
</div>

<script>
    function save(){
        var userName=document.getElementById("userName").value;
        var password=document.getElementById("password").value;
        var employee=document.getElementById("employee");
        if(!userName || !password ){
            alert("userName and password are required fields!");
            return;
        }
        $.ajax({
           url:"/Apiarist",
           method:"POST",
           data:{"userName":userName,"password":password,"addRess":$("#addRess").val(),
           "firstName":$("#firstName").val(),"lastName":$("#lastName").val(),"email":$("#email").val(),
           "phone":$("#phone").val(),"state":$("#state").val()},
           success:function(res){
              alert(res.message);
              if(res.status_code==200){
                window.location.reload();
              }
           }
        });
    }

   function search(){
      var name=document.getElementById("name").value;
      if(name){
        window.location.href="/stateEmployee/apiaristst/"+name;
      }else{
        window.location.href="/stateEmployee/apiaristst";
      }

   }

   function openEdit(aid,firstName,lastName,addRess,email,phone,state,userName,password){
        $("#ed_aid").val(aid);
        $("#ed_userName").val(userName);
        $("#ed_password").val('');
        $("#ed_firstName").val(firstName);
        $("#ed_lastName").val(lastName);
        $("#ed_addRess").val(addRess);
        $("#ed_email").val(email);
        $("#ed_phone").val(phone);
        $("#ed_state").val(state);
        var myModal = new bootstrap.Modal(document.getElementById('updateModel'));
        myModal.show();
   }

   function editSave(){
        var userName=document.getElementById("ed_userName").value;
        var password=document.getElementById("ed_password").value;
        if(!userName || !password ){
            alert("userName and password are required fields!");
            return;
        }
       $.ajax({
           url:"/Apiarist",
           method:"PUT",
           data:{"userName":userName,"password":password,"addRess":$("#ed_addRess").val(),
           "firstName":$("#ed_firstName").val(),"lastName":$("#ed_lastName").val(),"email":$("#ed_email").val(),
           "phone":$("#ed_phone").val(),"state":$("#ed_state").val(),"aid":$("#ed_aid").val()},
           success:function(res){
              alert(res.message);
              if(res.status_code==200){
                window.location.reload();
              }
           }
       });
   }

   function deleteDate(aid){
      var bl=confirm('Are you sure you want to delete this Apiarist data?');
       if(bl){
            $.ajax({
                url:"/Apiarist",
                method:"Delete",
                data:{"aid":aid},
                success:function(res){
                   alert(res.message);
                   window.location.reload();
                }
            });
       }
   }

</script>
{% endblock %}